#  Google Advanced Data Analysis

In [2]:
print("Hello World!")

Hello World!

In [3]:
print(22)

22

In [4]:
(5 + 3) * 2

16

In [5]:
10**3 == 1000

True

In [6]:
def is_adult(age):
    if age >= 18:
        print('adult')
    else:
        print('minor')

In [7]:
is_adult(14)

minor

In [8]:
new_list = [20, 25, 10, 5]
sorted(new_list)

[5, 10, 20, 25]

## Module 1
## Object oriented programming
A programming system that is based around objects, which can contain both data and code that manipulates that data. 

### Object 
An instance of a class; a fundamental building block of Python

### Class
A class is an object's data type that bundles data and functionality together

In [10]:
magic = 'HOCUS POCUS'
print(type(magic))

<class 'str'>

In [11]:
# swapping the case of parameters
magic = magic.swapcase()
print(magic)

hocus pocus

In [12]:
# replacing the content of a string
magic = magic.replace('cus', 'key')
magic

'hokey pokey'

In [13]:
# We can split the string into a list of words
magic = magic.split()
magic

['hokey', 'pokey']

### Method:
A function thay belongs to a class and typically performs an action or operation

#### Dot Notation:
How to access the methods and attributes that belong to an instance of a class

#### Core Python Classes 
- Integers 
- Floats 
- Strings
- Booleans
- Lists
- Dictionaries
- Tuples
- Sets 
- Frozensets
- Functions 
- Ranges
- None

### Attribute 
A value associated with an object or class which is referenced by name using dot notation.

In [ ]:
# shape attribute helps identify number of rows and columns in a data set
planets.shape

In [ ]:
# columns attrivute helps identify the names of the columns in a data set
planets.columns
# We can access a specific column in a data set
planets['name']
# We can access a specific row in a data set

In [15]:
# building a class with methods and attributes
class Spaceship:
   # Class attribute
   tractor_beam = 'off'

   # Instance attributes
   def __init__(self, name, kind):
       self.name = name
       self.kind = kind
       self.speed = None

  # Instance methods
   def warp(self, warp):
       self.speed = warp
       print(f'Warp {warp}, engage!')

   def tractor(self):
       if self.tractor_beam == 'off':
           self.tractor_beam = 'on'
           print('Tractor beam on.')
       else:
           self.tractor_beam = 'off'
           print('Tractor beam off')

In [16]:
# Create an instance of the Spaceship class (i.e. "instantiate")
ship = Spaceship('Mockingbird','rescue frigate')

# Check ship's name
print(ship.name)

# Check what kind of ship it is
print(ship.kind)

# Check tractor beam status
print(ship.tractor_beam)

Mockingbird
rescue frigate
off

In [17]:
# Set warp speed
ship.warp(7)

# Check speed
ship.speed

Warp 7, engage!

7

In [18]:
# Toggle tractor beam
ship.tractor()

# Check tractor beam status
print(ship.tractor_beam)

Tractor beam on.
on

## Variables
- Represent data stored as strings, tuples, dictionaries, lists and objects
- Vriables point to values. they're not the values themselves
- Variables can store value of any data type

### Data Type:
An attribute that describes a piece of data based on its values, its programming language, or the operations it can perform 

### Assignment 
The process of storing a value in a variable 

### Expression 
A combination of numbers, symbols, or other variables that produce a result when evaluated 

### Dynamic Typing:
Variables can point to objects of any data type.

In [19]:
age_list = [34, 25, 18, 45, 30]
max_age = max(age_list)
min_age = min(age_list)
print(f'Max age: {max_age}, Min age: {min_age}')

Max age: 45, Min age: 18

In [20]:
# converting to string 
max_age_str = str(max_age)
min_age_str = str(min_age)
print(f'Max age as string: {max_age_str}, Min age as string: {min_age_str}')

Max age as string: 45, Min age as string: 18

### Naming Conventions
Consistent guidelines that describe the content, creation date, and version of a file in its name.

### Naming restictions
RUles built into the syntax of the language itself that must be followed.

### Keyword:
A special word that is reserved for a specific purpose and that can only be used for the purpose

### Variable naming conventions
- Don't use reserved keywords like `or`, `in`, `if`, `else`,`not`,`for`, `while`,`return`, etc.
- Don't use reserved functions such as `print`, `str`, etc.

### Naming restrictions for variables
- only include letters, numbers, and underscores
- must start with a letter or underscore 
- Case-sensitive
- Cannot include parentheses

> Example variable names 

      `any_a_variable` valid
      `any_a_v_2` valid
      `1_is_a_number` not valid
      `Aple_&_oranges` not valid

### Operators:
SYmbols that perform operations on objects and values 
- `+` Addition
- `-` Subtraction
- `*` Multiplication
- `/` Division
- `**` Exponentiation
- `%` Modulo
- `//` Floor division
- `>` Greater Than 
- `<` Less than 
- `==` Equality

### Expression:
A combination of numbers, symbols, and variables to compute and return a result upon evaluation

### Function: 
A group of related statements to perform a task and return a value

In [21]:
def to_celsius(x):
   '''Convert Fahrenheit to Celsius'''
   return (x-32) * 5/9

to_celsius(75)

23.88888888888889

### Conditional statements:
Sections of code that direct program execution based on specified conditions

In [22]:
number = -4

if number > 0:
   print('Number is positive.')
elif number == 0:
   print('Number is zero.')
else:
   print('Number is negative.')

Number is negative.

## Data Types
### String:
A sequence of character and punctuation that contains textual information.
#### Immutable data type 
A data type in which the values can never be altered or udated 
### Integer:
A data type used to represent whole numbers without fractions
### Float:
A data type that represent numbers that contain decimals.

In [ ]:
# adding two integers
print(3 + 5)
# adding two floats
print(3.5 + 2.5)
# adding an integer and a float
print(3 + 2.5)
# adding two strings
print('Hello ' + 'World')
# you cant add a string and an integer

8
6.0
5.5
Hello World

> You can use the `type()` function to have the computer tell you the data type

### Implicit conversion
- Python automatically converts one data type to another without user involvement

In [24]:
print(1 + 2.5)  # This will work, as Python will convert the integer to a float

3.5

### Explicit conversion:
- Users convert the data type of an object to a required data type
- Also known as type casting.

In [25]:
print('2 + 2 = ' + str(2 + 2))  # This will work, as we convert the integer result to a string

2 + 2 = 4

## Module 2

### Functions:
A body of reusable code for performing specific processes or tasks 

`def` A keyword that defines a function at the start of the function block

In [27]:
def greeting(name):
    print('Welcome, '+ name +'!')
    print('You are part of the team!')

In [28]:
greeting('Rebecca')

Welcome, Rebecca!
You are part of the team!

`return` A reserved keyword in Python that makes a function produce new results, which are saved for later use

In [30]:
def area_triangle(base, height):
    return base * height / 2

In [32]:
area_a = area_triangle(5,4)
area_b = area_triangle(10, 6)

total_area = area_b + area_a
print(f'The total area of the triangles is: {total_area}')

The total area of the triangles is: 40.0

### Reusability:
Defining code once and using it many times without having to rewrite it

In [33]:
def get_seconds(hours, minutes, seconds):
    total_seconds = 3600*hours + 60*minutes + seconds
    return total_seconds

In [36]:

print(f'Total_secondas: {get_seconds(16,45,20)}')

Total_secondas: 60320

In [38]:
# This code writtens a length function which returns t he length of an object
name = "Mujawar"
number = len(name)*9
print("Hello " + name + ", Your lucky number is " + str(number) + "!")

Hello Mujawar, Your lucky number is 63!

In [39]:
def lucky_number(name):
    number = len(name)*9
    print("Hello " + name + ". Your lucky number is " + str(number))
    
lucky_number("Adnan")
lucky_number("Jakirhusen")

Hello Adnan. Your lucky number is 45
Hello Jakirhusen. Your lucky number is 90

#### Modularity:
The ability to write code in separate components that work together and that can be reused for other programs.

#### Refactoring:
The process of restructuring code while maintaining its original functionality.

#### Self-documenting code:
Code written in a way that is readable and makes its purpose clear.

In [40]:
# This function take an integer as an input and returns its factorial 
def factorial(n):
    # Exclude 0 as product, start with 1
    y = 1
    for i in range(int(n)):
        y = y * (i + 1)
    return y

# Enter a numerical value betweem 1-9 in the command line that appears
input_num = input()
# Apply factorial function to an integer input
print(factorial(input_num))

120

### Comenting 
### Algorithm:
A set of instruction for solving a problem or accomplushing a task.

In [ ]:
def seed_calculation(fountain_side, grass_width):
    ''' 
    Calculate the amount of seeds needed for a grass border around a square fountain.
        Parameters:
            fountain_side (num): The length of one side of the square fountain in meters.
            grass_width (num): The width of the grass border around the fountain in meters.
        Returns:
            seed(float): amount of seed (kg) needed for grass border
            '''
    # Area of fountain
    fountain_area = fountain_side**2
    #Total area 
    total_area = (fountain_side + 2 * grass_width) ** 2
    #Area of grass border 
    grass_area = total_area - fountain_area
    # Amount of Seeds needed (35 g/sq.m)
    seed = grass_area * 35
    # Convert to kg 
    seed = seed/1000
    
    return seed

In [43]:
seed_calculation(12, 2)

3.92

#### Docstring:
A string at the beginning of a function's body that summarizes the function's behavior and explains its arguments and return values

In [45]:
def my_function(parameters):
    """
    Add two numbers
    Parameters:
        parameters (int): The number to be added to itself.
    Returns:
        int: The result of adding the number to itself.
    """
    return parameters + parameters
print(my_function(5))  # Output: 10

10

In [46]:
# Method Example
my_string = 'The Eagles filled the sky.'
my_string.split()

['The', 'Eagles', 'filled', 'the', 'sky.']

In [47]:
# Function example
sum([6, 3])
9

9

### Boolean:
A data type that has only two possible values, usually true or false

#### Comparators:
OPerators that compare two values and produce boolean values (True/False)

In [48]:
print(10>1)

True

#### Python Comparators 
- Greater Than - `>`
- Greater than equal to - `>=`
- Less than - `<` 
- Less than or equal to - `<=`
- Equal to - `==`
- Not equal to - `!=`

In [49]:
print('cat' == 'dog')
print(1 != 2)

False
True

### Logical operators:
Operators that onnect multiple statements together and perform more complex comparisons.
- `and`
- `or`
- `not`

- The `and` operator needs both expressions to be true to return a True result 
- The `or` operator needs either of the expressions to be true to return a True result, and False only when both expressions are false
- The `not` operator inverts the value of the expression that follows it

In [50]:
print("Yellow" > "Cyan" and "Brown" > "Magenta")

False

In [51]:
print(25 > 50 or 1 != 2)

True

In [52]:
print(not 42 == "Answer")

True

### Branching 
The ability of a program to alter its execution sequence
- `if`: A reserved keyword that sets up a condition in Python.
- `else`: A reserved keyword that executes when preceding conditions evaluate as False.
- `elif`: a reserved keyword that executes subsequent condition when the previous conditions when the prevous condition are not true 
#### Modulo: `%`
An operator that returns the remainder when one number is divided by another

In [58]:
def hit_username(username):
    if len(username) < 0:
        print('Invalid username, must be at least 8 character long.')
    elif len(username) >15:
        print('Invalid username, cannot be longer than 15 characters.')
    else:
        print('Valid username.')

In [56]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False

In [57]:
is_even(13)

False

## Module 3
### Loop:
A block of code used to carry out iterations 
### Iteration:
The repeated execution of a set of statements, where one iteration is the single execution of a block of code.
### Iterable:
AN object that's looped, or iterated over


### `While` loop :
A loop that instructs your computer to continuously execute your code based on the value of a condition.

In [60]:
x = 0
while x < 5:
    print('Not there yet, x = ' + str(x))
    x = x + 1
print('x = ' + str(x))

Not there yet, x = 0
Not there yet, x = 1
Not there yet, x = 2
Not there yet, x = 3
Not there yet, x = 4
x = 5

> THe condition used by the while loop needs to evaluate to true or false

In [61]:
import random

In [64]:
number = random.randint(1,25)
number_of_guesses = 0 

while number_of_guesses < 5:
    print('Guess a number between 1 and 25: ')
    guess = input()
    guess = int(guess)
    number_of_guesses += 1
    
    if guess == number:
        break
    elif number_of_guesses == 5:
        break
    else:
        print('Nope! Try again.')
        
if guess == number:
    print('Correct! You guessed the number in ' + str(number_of_guesses) + ' tries.')
else:
    print('you did not guess the number. The number was ' + str(number) +'-')

Guess a number between 1 and 25:
Nope! Try again.
Guess a number between 1 and 25:
Nope! Try again.
Guess a number between 1 and 25:
Nope! Try again.
Guess a number between 1 and 25:
Nope! Try again.
Guess a number between 1 and 25:
you did not guess the number. The number was 22-

> `break` : A keyword that lets you escape a loop without triggering any ELSE statement that follows it in the loop

In [2]:
def send_email (num_visits, visits_email, visits_coupon):
    #visits_coupon = 5 # number of visits required to get a coupon
    if visits_coupon > num_visits >= visits_email:# if number of visits are greater than visits email then and only then they will receive an email.
        print('Send promotional email!')
    elif num_visits >= visits_coupon: # if number of visits are greater than or equal to visits coupon then they will receive a coupon.
        print('Send email with coupon!')
    else:
        print('Not enought visits!')# else they are not eligible to recive the email 
    #return send_email

In [6]:
'''
While loop Example '''
candy_purchased = 0
while candy_purchased < 6:
   
    print('Candy purchased: ' + str(candy_purchased))
    candy_purchased += 1

Candy purchased: 0
Candy purchased: 1
Candy purchased: 2
Candy purchased: 3
Candy purchased: 4
Candy purchased: 5

In [ ]:
candy_purchased = 0 
while candy_purchased <= 100:
    if candy_purchased % 10 == 0: # print only those numbers that are divisible by 10
        print('Candy Purchased: ' + str(candy_purchased))
    candy_purchased += 1

Candy Purchased: 0
Candy Purchased: 10
Candy Purchased: 20
Candy Purchased: 30
Candy Purchased: 40
Candy Purchased: 50
Candy Purchased: 60
Candy Purchased: 70
Candy Purchased: 80
Candy Purchased: 90
Candy Purchased: 100

In [8]:
# Create a webpage timer 
from time import sleep 

n = 3
while n >= 0:
    print(n)
    sleep(1)
    n = n - 1

3
2
1
0

In [15]:
mins = 10
while mins >= 0:
    if mins == 5:
        print('Place yout reservation soon! 5 minutes remaining.')
    elif mins == 2:
        print('Don\'t lose your seats! 2 minutes remaining.')
    elif mins == 0:
        print('Time is up!')
    else:
        print(str(mins))
    sleep(1)
    mins = mins - 1

10
9
8
7
6
Place yout reservation soon! 5 minutes remaining.
4
3
Don't lose your seats! 2 minutes remaining.
1
Time is up!

### For loop 
A piece of code that iterated over a sequence of values.

In [17]:
for x in range(5):
    print(x)

0
1
2
3
4

### `range()`
A Python function that returns a sequence of numbers starting from zero, increments by 1 by default, and stops before the given number.

> 1. A range of numbers will start with the value 0 by default
> 2. The list of numbers generated will be one less than the given value

In [18]:
with open('zen_of_python.txt') as f:
    for line in f:
        print(line)
print('\nI\'m done.')

Beautiful is better than ugly.

Explicit is better than implicit.

Simple is better than complex.

Complex is better than complicated.

Flat is better than nested.

Sparse is better than dense.

Readability counts.

Special cases aren't special enough to break the rules.

Although practicality beats purity.

Errors should never pass silently.

Unless explicitly silenced.

In the face of ambiguity, refuse the temptation to guess.

There should be one-- and preferably only one --obvious way to do it.

Although that way may not be obvious at first unless you're Dutch.

Now is better than never.

Although never is often better than *right* now.

If the implementation is hard to explain, it's a bad idea.

If the implementation is easy to explain, it may be a good idea.

Namespaces are one honking great idea -- let's do more of those!




I'm done.

### Parameters of the range function

- Start value
- Stop value
- Step value

In [20]:
product = 1
for n in range (1, 10):
    product = product * n 
    
print(product)

362880

In [21]:
def to_celsius(x):
    return (x-32) * 5/9
for x in range(0, 101,10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

> - Use for loops when there's a sequence of elements that you want to iterate over
> - Use while loops when you want to repeat an action until a boolean condition changes.
> - Booleans are a data type that represents one of two possible states: True or False.

In [ ]:
def score_counter(score_list):
    for score in score_list

### Strings

#### Concatenate:
To link or join together

In [1]:
'Hello' + 'world'

'Helloworld'

In [2]:
greeting_1 = 'Hello'
greeting_2 = 'world'
greeting_1 + greeting_2

'Helloworld'

In [3]:
danger = 'Danger! '
danger * 3

'Danger! Danger! Danger! '

> We cannot devide or subtract two strings strings we can just add and multiply them

In [4]:
quote = "Thank you for pressing the self-destruct button."
print(quote)

Thank you for pressing the self-destruct button.

#### Excape character 
A characterthat changes the typical behaviour of the characters that follow it

In [6]:
quote = "\"It's dangerous to go alone!\""
print(quote)

"It's dangerous to go alone!"

In [8]:
greeting = "Good day. \nsir."
print(greeting)

Good day.
sir.

In [9]:
python = "Python"
for letter in python:
    print(letter + 'ut')

Put
yut
tut
hut
out
nut

In [10]:
for l in python:
    print(l.upper() + 'home')

Phome
Yhome
Thome
Hhome
Ohome
Nhome

In [11]:
for v in python:
    print(v.lower() + 'gohome')

pgohome
ygohome
tgohome
hgohome
ogohome
ngohome

#### Indexing 
A way to refer to the individual items within an iterable by their relative position 

##### Indexing can be used on :
- strings
- lists
- tuples
- most other iterable data types 

> Python uses 0 based indexing 

`index()`
A string method that output the index number of a character in a string 
> A method is a fucnction that is applied to a variable

In [12]:
pets = 'cats and dogs'
pets.index('s')

3

In [13]:
name = 'Jolene'
name[0]

'J'

In [14]:
sentence = 'The quick brown fox jumps over the lazy dog.'
sentence[-1]

'.'

#### String slice 
A portion of a string, also known as a substring, that can contain more than one character.

In [16]:
color = 'orange'
color[1:4]

'ran'

In [17]:
fruit = 'pineapple'
fruit[:4]

'pine'

In [18]:
fruit[4:]

'apple'

> To check whether or not a substring is contained in a string, use the keyord `in`.

In [22]:
my_string = 'Mississippi half-step'
print(my_string[-3:])

tep

In [23]:
my_list = [1, 'unladen', 'swallow']
print(my_list[1])

unladen

In [24]:
print(my_list[-1])

swallow

In [26]:
my_list[0]

1

In [27]:
new_string = 'pining for the fjords'
new_string[0:3]

'pin'

In [28]:
new_string[:3]

'pin'

In [30]:
len(new_string)

21

In [31]:
new_string[6:100]

' for the fjords'

> `format()` Formats and inserts specific substrings into designated places

In [34]:
name = 'Adnan'
number = 3
print('Hello {}, your lucky number is {}!'.format(name, number))

Hello Adnan, your lucky number is 3!

In [35]:
print('Hello {name}, your lucky number is {num}.'.format(num=number, name=name))

Hello Adnan, your lucky number is 3.

In [36]:
print('Hello {1}, your lucky number is {0}.'.format(number, name))

Hello Adnan, your lucky number is 3.

In [38]:
price = 7.75
with_tax = price * 1.07
print('Base price: ${} USD. \nWith tax: ${} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.2925 USD.

> `.2f` .2 refers to two places beyond decimal, and F stands for float

In [39]:
print('Base price: ${:.2f} USD. \nWith tax: ${:.2f} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.29 USD.

In [45]:
def to_celsius(x):
    return (x-32) * 5/9

for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [47]:
x = 'values'
y = 100

print('''String formatting lets you insert {} into strings. They can even be numbers, like {}.'''.format(x, y))

String formatting lets you insert values into strings. They can even be numbers, like 100.

In [ ]:

var_a = 'A'
var_b = 'B'
print('{a}, {b}'.format(b=var_b, a=var_a))

A, B

In [ ]:
# Arguments get inserted in specific spots
print('{1}, {0}'.format(var_a, var_b))
print('{0}, {1}'.format(var_a, var_b))

B, A
A, B

In [ ]:
# You can have as many arguments as you want 
print('{},{},{},{},{},{} ...'.format(1,2,3,4,5,6))

1,2,3,4,5,6 ...

In [2]:
var_a = 1
var_b = 2
print(f'{var_a} + {var_b}')
print(f'{var_a + var_b}')
print(f'var_a = {var_a} \nvar_b = {var_b}')

1 + 2
3
var_a = 1
var_b = 2

![float formatting](float.png)
![ f e %](ef.png)

In [3]:
num = 1000.987123
f'{num:.2f}'

'1000.99'

In [5]:
num = 1000.987123
print(f'{num:.3e}')

decimal = 0.2497856
print(f'{decimal:.4%}')

1.001e+03
24.9786%

`str.count(sub[, start[, end]])`
> return the number of non-overlapping occurences of substring `sub` in the range `[start , end]`

In [6]:
my_string = 'Happy birthday'
print(my_string.count('y'))
print(my_string.count('y', 2, 7))

2
1

`str.find(sub)`
> Return the lowest in the string where substring `sub` is found. Return -1 if `sub` is not found

In [7]:
my_string = 'Happy birthday'
my_string.find('birth')

6

`str.join()`
> Return a string which is the concatenation of the strings in iterable. The separator between elements is the string providing this method.

In [8]:
separator_string = ' ' 
iterable_of_strings = ['Happy', 'birthday', 'to', 'you']

separator_string.join(iterable_of_strings)

'Happy birthday to you'

`str.partition(sep)`
Split the string at the first occurrence of `sep`, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator . if the separator is not found, return a 3 tuple containing the string itself, followed by two empty strings.

In [9]:
my_string = 'https://www.google.com/'
my_string.partition('.')

('https://www', '.', 'google.com/')

`str.replace(old, new[, count])`
Return a copy of the string with all occurrences of substring `old` replaces by `new`. If the optional argument `count` is given, only the first `count` occurrences are replaced.

In [10]:
my_string = 'https://www.google.com/'

my_string.replace('google', 'youtube')

'https://www.youtube.com/'

`str.split([sep])`
Return a list of the words in the string, using `sep` as the delimiter string. if no `sep` is given, whitespace characters are used as the delimiter. Any number of consecutive whitespaces would indicate a split point, so `' '` would split the same way as `'  '`

In [14]:
my_string = 'Do you know the muffic man?'

my_string.split()

['Do', 'you', 'know', 'the', 'muffic', 'man?']

#### Regylar expression (Regex):
- used to modify and process string data
- Regex works by matching patterns in Python. It allows you to search for specific patterns of text within a string of text. Regex is used extensively in web scraping, text processing and cleaning, and data analysis.

In [16]:
import re 

my_string = 'Three sad tigers swallowed wheat in a wheat field'

re.search('wall', my_string)

In [19]:
import re

my_string = 'Three sad tigers swallowed wheat bad in a wheat field mad'

re.search('[bms]ad', my_string)

## Module 4
### Data Structures
Collection of data values or objects that contain different data types

### Data Type:
Is an attribute that describes a piece of data based on its values, its programming language or the operations it can perform 

#### List
A data structure that helps store and manipulate an ordered collection of items 

##### Sequence
A positionally ordered collection of items

##### Mutability
The ability to change the internal state of a data structure.

##### Immutability:
A data structure or element's values can never be altered or updated.

![List vs String](string_vs_list.png)

In [21]:
x = ['Now', 'we', 'are', 'cooking', 'with', 7, 'ingredients!']
print(x[3])

cooking

In [22]:
x[1:3]

['we', 'are']

In [23]:
x[:2]

['Now', 'we']

In [24]:
x[2:]

['are', 'cooking', 'with', 7, 'ingredients!']

In [25]:
'This' in x

False

In [26]:
'are' in x

True

##### Modifying Lists:

**`append()`**
Method that adds an element to the end of a list.

In [27]:
fruits = ['pineapple', 'banana', 'apple', 'melon']
print(fruits)

['pineapple', 'banana', 'apple', 'melon']

In [28]:
fruits.append('kiwi')
print(fruits)

['pineapple', 'banana', 'apple', 'melon', 'kiwi']

**`insert()`**
Functrion that takes an index as the first parameter and an element as the second parameter, then insert the element into a list at the given index.

In [29]:
fruits.insert(1, 'orange')
print(fruits)

['pineapple', 'orange', 'banana', 'apple', 'melon', 'kiwi']

In [33]:
# adding an element at the begining of the list 
fruits.insert(0 , 'peanut')
print(fruits)

['peanut', 'peanut', 'peanut', 'pineapple', 'orange', 'banana', 'apple', 'melon', 'kiwi']

**`remove()`**
A method that removes an element from a list

In [35]:
fruits.remove('peanut')
print(fruits)

['peanut', 'pineapple', 'orange', 'banana', 'apple', 'melon', 'kiwi']

**`pop()`**
A method that extracts an element from a list by removing it at a given index

In [36]:
fruits.pop(2)
print(fruits)

['peanut', 'pineapple', 'banana', 'apple', 'melon', 'kiwi']

In [38]:
fruits[1] = 'grape'
print(fruits)

['peanut', 'grape', 'banana', 'apple', 'melon', 'kiwi']

In [39]:
fruits[2] = 'mango'
print(fruits)

['peanut', 'grape', 'mango', 'apple', 'melon', 'kiwi']

Two ways to create a list 
- SQuare brackets: `[]`
- The list function: `list()`

In [ ]:
# Create list of strings
list_a = ['olive', 'palm', 'coconut']
print(list_a)

['olive', 'palm', 'coconut']

In [41]:
# Create list of integers:
list_b = [8, 6, 7, 5, 3, 0, 8]
print(list_b)

[8, 6, 7, 5, 3, 0, 8]

In [42]:
#list of mixed data types
list_c = ['Abidjan', 14.2, [1, 2, None], 'Zagreb']
print(list_c)

['Abidjan', 14.2, [1, 2, None], 'Zagreb']

In [43]:
# To create empty list
empty_list_1 = []
empty_list_2 = list()

**Indexing and slicing**

In [44]:
# use square brackets to index
phrase = ['Astra', 'inclinant', 'sed', 'non', 'obligant']
print(phrase[1])

inclinant

In [45]:
# Using negative indices to access items from the end of a list 

phrase = ['Astra', 'inclinant', 'sed', 'non', 'obligant']
print(phrase[-1])

obligant

In [46]:
# Use slicing to extract a sublist. TO SLICE , USE SQUARE BRACKETS CONTAINING A RANGE OF INDICES SEPARATED BY A COLON.

pjrase = ['Astra', 'inclinant', 'sed', 'non', 'obligant']
print(phrase[1:4])

['inclinant', 'sed', 'non']

- Omitting the starting index in a slice implies an index of zero, and omitting the ending index implies an index of `len(my_list)`

In [48]:
print(phrase[:3])
print(phrase[3:])

['Astra', 'inclinant', 'sed']
['non', 'obligant']

> List MUtability
Lists are mutable, which means that one can change their contents after they are created. YOu can change an individual item in a list by specifying its index and assigning a new value to it

In [50]:
my_list = ['Macduff', 'Malcolm', 'Duncan', 'Banquo']
my_list[2] = 'Macbeth'
print(my_list)

['Macduff', 'Malcolm', 'Macbeth', 'Banquo']

In [51]:
# one can even change a slice of a list using the same logic. The slice can be of any length, the elements in the new list will be inserted in place of the indicated slice. 
my_list[1:3] = [1, 2, 3, 4]
print(my_list)

['Macduff', 1, 2, 3, 4, 'Banquo']

> List operations

In [52]:
# Lists can be combined using the addition operator (+):
num_list = [1, 2, 3]
char_list = ['a', 'b', 'c']
num_list + char_list

[1, 2, 3, 'a', 'b', 'c']

In [53]:
# List can also be multiplied using the multiplication operator (*):
list_A = ['a', 'b', 'c']
list_A * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [54]:
# YOu can check whether a value is contained in a list by using the in operator:
num_list = [2, 4, 6]
print(5 in num_list)
print(5 not in num_list)

False
True

> List methods
Lists are a core Python class. and they have a number of built in methods that are very useful.

In [56]:
# append()
my_list = [0, 1, 2, 3, 4]
variable = 5
my_list.append(variable)
print(my_list)

[0, 1, 2, 3, 4, 5]

In [57]:
# insert()
my_list = ['a', 'b', 'd']
my_list.insert(2, 'c')
print(my_list)

['a', 'b', 'c', 'd']

In [59]:
# remove()
# remove the first occurrence of an item:

my_list = ['a', 'b', 'd', 'a']
my_list.remove('a')
print(my_list)

['b', 'd', 'a']

In [60]:
#pop()
# remove the item at the given position in the list, and return it. if no index is specified, pop() removes and returns the last item in the list:
my_list = ['a', 'b', 'c']
print(my_list.pop())
print(my_list)

c
['a', 'b']

In [61]:
# clear()
# remove all items
my_list = ['a', 'b', 'c']
my_list.clear()
print(my_list)

[]

In [62]:
# index()
# return the index of the first occurrence of an item in the list:
my_list = ['a', 'b', 'c', 'a']
my_list.index('a')

0

In [63]:
# count()
# return number of times an item occurs in the list:
my_list = ['a','b', 'c', 'a']
my_list.count('a')

2

In [64]:
#sort()
# orts are list ascending by default. YOu can also make a function to decide the sorting criteria:
char_list = ['b', 'c', 'a']
num_list = [2, 3, 1]
char_list.sort()
num_list.sort(reverse=True)
print(char_list)
print(num_list)

['a', 'b', 'c']
[3, 2, 1]

### Tuple
A immutable sequence that can contain elements of any data type. 
> Tuples are expressed with parentheses or the `tuple()` function.

In [65]:
fullname = ('Adnan', 'J', 'Mujawar')

In [66]:
# value can be added to the end only if we reassign the tuple 
fullname = fullname + ('Jr',)
print(fullname)

('Adnan', 'J', 'Mujawar', 'Jr')

In [67]:
 # tuple() function that transforms input into tuples. 
fullname = ['Adnan', 'J', 'Mujawar']
fullname = tuple(fullname)
print(fullname)

('Adnan', 'J', 'Mujawar')

In [68]:
# WHen a function returns more than 1 value it actually returns a tuple

def to_dollars_cents(price):
    '''
    Split price (float) into dollars and cents.
    '''
    dollars = int(price // 1)
    cents = round(price % 1 * 100)
    
    return dollars, cents

In [69]:
to_dollars_cents(6.55)

(6, 55)

In [70]:
dollars, cents = to_dollars_cents(8.99)
print(dollars + 1)
print(cents + 1)

9
100